body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
}

.sidebar {
    width: 220px;
    background: #0b1220;
    padding: 20px;
    height: 100vh;
}

.sidebar button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #1e293b;
    border: none;
    color: white;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.loginBtn {
    padding: 15px;
    background: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
